extends layout

block header
  img(src='/images/brain.png')
  span #{title}

block content
  h1 #{comicTitle}
  <img src=#{imagePath} />

block footer
  span Copyright #{new Date().getFullYear()} <a href='http://bengott.github.io' target='_blank'>Ben Gott</a>, #{title}